*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI,sans-serif;
}

body{
background:#0F172A;
}

.container{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.login-card{

width:380px;

background:white;

padding:40px;

border-radius:20px;

display:flex;

flex-direction:column;

gap:18px;

box-shadow:0 10px 40px rgba(0,0,0,.35);

}

.login-card h1{

text-align:center;

color:#2563EB;

font-size:34px;

}

.login-card p{

text-align:center;

color:#555;

}

.login-card input{

padding:14px;

font-size:16px;

border-radius:10px;

border:1px solid #ccc;

}

.login-card button{

padding:14px;

background:#2563EB;

color:white;

font-size:18px;

border:none;

border-radius:10px;

cursor:pointer;

}

.login-card button:hover{

background:#1D4ED8;

}

small{

text-align:center;

color:gray;

}